#form{
    input{
        padding:10px 15px;
    }
    button{
        color: wheat;
        background: #ff12a7;
        /* border: groove; */
        /* border-style: groove; */
        border: 1px solid transparent;
        padding: 12px 15px;
        cursor: pointer;
    }
}
header{
    text-align: center;
}